@import "main";

.books-wrapper {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 6rem;
  column-gap: 3rem;
  margin-top: 8rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  padding: 0rem 2rem 1rem;
  border-radius: $border-radius;
  gap: 1rem;

  .book-card__img-link {
    display: flex;
    margin-top: -2rem;
    transition: margin 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 15px 16px 50px 0px #00000033;
    border-radius: $border-radius;

    .book-card__img {
      border-radius: $border-radius;

      aspect-ratio: 3/4;
      object-fit: cover;
    }
  }

  .book-card__contet {
    width: 100%;
    display: flex;
    overflow: hidden;

    .book-card__holder {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: -8rem;
      transition: margin 0.25s ease;

      .book-card__title {
        color: $fifth-color;
        font-size: 2.4rem;
        font-weight: bold;
      }

      .book-card__date,
      .book-card__author {
        margin: 0;
        color: $light-text-color;
        font-size: 1.4rem;
      }
    }
  }

  &:hover {
    .book-card__img-link {
      margin-top: -10rem;
      box-shadow: 15px 16px 50px 0px #0000004d;
    }

    & .book-card__holder {
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .books-wrapper {
    grid-template-columns: 1fr;
  }
}
