@font-face {
  font-family: "Bloomberg Arabic";
  src: url("../fonts/BloombergArabicBetav4-Regular.woff2") format("woff2"), url("../fonts/BloombergArabicBetav4-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bloomberg Arabic";
  src: url("../fonts/BloombergArabicBetav4-Bold.woff2") format("woff2"), url("../fonts/BloombergArabicBetav4-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --plyr-color-main: #419bb5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Bloomberg Arabic";
  font-size: 1.6rem;
  color: #2d3134;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-round {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.title-round .title-round__text {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #116278;
}
.title-round .title-round__sec {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  opacity: 0.3;
}
.title-round .title-round__sec .title-round__circle {
  display: flex;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.25rem solid #5bc0de;
}
.title-round .title-round__sec .title-round__line {
  flex: 1 0 0;
  height: 0.25rem;
  background-color: #5bc0de;
}

@media screen and (max-width: 768px) {
  .title-round {
    flex-wrap: wrap;
  }
  .title-round .title-round__text {
    font-size: 2.5rem;
  }
}
.news-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: rgba(206, 237, 246, 0.3);
  border-radius: 1.5rem;
}

.news-card__img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
}

.news-card__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.news-card__content .news-card__title {
  font-size: 2.4rem;
  color: #2d3134;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card__content .news-card__excerpt {
  margin: 0;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.news-card__meta .news-card__date {
  margin: 0;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.news-card__meta .news-card__date svg {
  width: 1.4rem;
  fill: rgba(0, 0, 0, 0.5);
}
.news-card__meta .news-card__btn {
  background-color: none;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  color: #419bb5;
  transition: all 0.3s ease;
  outline: 0;
  border: 0;
  cursor: pointer;
  border: 1px solid #419bb5;
  font-size: 1.4rem;
}
.news-card__meta .news-card__btn:hover {
  background-color: #419bb5;
  color: white;
}

#main-content {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#header {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 85%;
  max-width: 140rem;
  background-color: #004970;
  padding: 1.5rem 4.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  row-gap: 1rem;
  position: relative;
}

.navbar__toggle {
  display: none;
}

.navbar__logo-link {
  display: flex;
  width: 6rem;
}

.navbar__logotext-link {
  display: flex;
  width: 20rem;
}

.navbar__menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-inline: auto;
}
.navbar__menu li a {
  color: white;
  transition: all 0.2s ease;
  font-weight: bold;
  font-size: 1.4rem;
}
.navbar__menu li a:hover {
  color: #5bc0de;
  font-size: 1.8rem;
}

.navbar__search {
  position: absolute;
  left: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-end;
  width: 4rem;
  transition: width 0.2s;
}

.search-open .navbar__search {
  width: 15%;
}

.navbar__search-btn {
  display: flex;
  width: 4rem;
  padding: 1rem;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  margin: -2px;
}
.navbar__search-btn svg {
  fill: #5bc0de;
  width: 1.6rem;
}

.navbar__search-input {
  display: none;
  width: 0;
  transition: width 0.2s;
  color: white;
  background: none;
  outline: none;
  border: 0;
  padding: 0.5rem 1rem;
}

.search-open .navbar__search-input {
  display: block;
  flex: 1 0 0;
  width: calc(100% - 4rem);
}

.navbar__search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.navbar__search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.navbar__search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  #header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navbar {
    width: 90%;
    padding: 1rem;
    min-height: 7.05rem;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .navbar__toggle {
    order: 3;
    transition: opacity 0.1s linear;
    -webkit-animation: fade 0.1s;
            animation: fade 0.1s;
  }
  .search-open .navbar__toggle {
    opacity: 0;
  }
  .navbar__toggle,
.navbar__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 1rem;
    margin: -1px;
  }
  .navbar__search {
    order: 1;
    margin: 0;
    background-color: #004970;
    border: 1px solid white;
    border-radius: 1rem;
    width: 4.8rem;
    position: static;
    left: 1rem;
  }
  .navbar__search .navbar__search-btn svg {
    fill: white;
    width: 2.6rem;
  }
  .search-open .navbar__search {
    position: absolute;
    width: calc(100% - 2rem);
  }
  .search-open .navbar__search-input {
    display: block;
    flex: 1 0 0;
    width: calc(100% - 4.8rem);
  }
  .navbar__logo-link {
    display: none;
  }
  .navbar__logotext-link {
    width: 50%;
    order: 2;
    transition: opacity 0.1s linear;
    -webkit-animation: fade 0.1s;
            animation: fade 0.1s;
  }
  .search-open .navbar__logotext-link {
    opacity: 0;
  }
  .navbar__menu {
    width: 100%;
    flex-direction: column;
    order: 4;
    gap: 1rem;
    max-height: 0;
    opacity: 0;
    display: none;
    overflow: hidden;
    transition: all 0.4s ease;
    -webkit-animation: fadeIn 0.4s;
            animation: fadeIn 0.4s;
  }
  .navbar__menu li {
    width: 100%;
    display: flex;
  }
  .navbar__menu li a {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
  }
  .navbar__menu li a:hover {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
  }
  .navbar__menu.open {
    display: flex;
    opacity: 1;
    max-height: 100vh;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 100vh;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 100vh;
  }
}
.footer-wrapper:before, .footer-wrapper:after {
  content: "";
  width: 1.5rem;
  aspect-ratio: 1;
  border: 2.5px solid #ceedf6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -8.5px;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0 3rem;
}

.footer-wrapper {
  width: 85%;
  max-width: 140rem;
  border-top: 0.25rem solid #ceedf6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer-wrapper:after {
  left: -15px;
}
.footer-wrapper:before {
  right: -15px;
}

.footer__logo-link {
  width: 5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #419bb5;
  margin-top: -2.5rem;
}

.footer__copyright {
  margin: 0;
  font-size: 1.8rem;
  color: #116278;
  text-align: center;
}

.fixed-social {
  position: fixed;
  left: 3.75%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.75rem;
  border: 2px solid #419bb5;
  border-radius: 1rem;
  gap: 1.5rem;
}
.fixed-social .fixed-social__icon {
  display: flex;
}
.fixed-social .fixed-social__icon svg {
  transition: transform 0.2s;
  width: 3rem;
  height: 3rem;
}

.fixed-social__icon:hover svg {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .fixed-social {
    display: none;
  }
}
.content-box {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  background-color: #f1fafd;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-top: 6rem;
}

.title-bar {
  width: 60%;
  border-top: 4px solid rgba(91, 192, 222, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
}
.title-bar::before, .title-bar::after {
  content: "";
  width: 1.5rem;
  aspect-ratio: 1;
  border: 2.5px solid #004970;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -9.5px;
}
.title-bar::before {
  left: -1.5rem;
}
.title-bar::after {
  right: -1.5rem;
}
.title-bar .title-bar__text {
  font-size: 2.5rem;
  margin: 0;
  color: #bcf0ec;
  background-color: #004970;
  line-height: 1;
  padding: 1rem 2.5rem 1.5rem;
  border-radius: 2rem;
  margin-top: -2.75rem;
}

.content-box__pagination {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.content-box__pagination .content-box__prev,
.content-box__pagination .content-box__next {
  display: flex;
  width: 4rem;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #419bb5;
  border-radius: 50%;
  transition: all 0.25s ease;
}
.content-box__pagination .content-box__prev svg,
.content-box__pagination .content-box__next svg {
  width: 1rem;
  fill: #419bb5;
  transition: all 0.25s ease;
}
.content-box__pagination .content-box__prev:hover,
.content-box__pagination .content-box__next:hover {
  background-color: #419bb5;
}
.content-box__pagination .content-box__prev:hover svg,
.content-box__pagination .content-box__next:hover svg {
  fill: white;
}
.content-box__pagination .content-box__page {
  margin: 0;
  font-size: 2rem;
  color: #419bb5;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .content-box {
    width: 90%;
  }
  .title-bar {
    width: 70%;
  }
  .title-bar .title-bar__text {
    font-size: 2rem;
  }
}
.tabs {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.tabs .tabs__buttons {
  display: flex;
  align-items: center;
}
.tabs .tabs__buttons .tabs__btn {
  padding: 1rem 4rem;
  border: 0.3rem solid #004970;
  font-weight: bold;
  font-size: 1.4rem;
  color: #004970;
  background-color: #f1fafd;
  cursor: pointer;
  transition: 0.25s;
}
.tabs .tabs__buttons .tabs__btn:hover {
  color: white;
  background-color: #004970;
}
.tabs .tabs__buttons .tabs__btn:not(:first-child) {
  border-right: 0;
}
.tabs .tabs__buttons .tabs__btn:first-child {
  border-top-right-radius: 2rem;
}
.tabs .tabs__buttons .tabs__btn:last-child {
  border-top-left-radius: 2rem;
}
.tabs .tabs__buttons .tabs__btn.active {
  color: white;
  background-color: #004970;
}
.tabs .tabs__content {
  background-color: #f1fafd;
  border-radius: 2rem 0 2rem 2rem;
  padding: 4rem 2rem;
}
.tabs .tabs__content .tabs__page {
  display: none;
  flex-direction: column;
  opacity: 0;
}
.tabs .tabs__content .tabs__page.active {
  display: flex;
  opacity: 1;
  -webkit-animation: tabIn 0.5s;
          animation: tabIn 0.5s;
}

@media screen and (max-width: 768px) {
  .tabs .tabs__buttons .tabs__btn {
    padding: 0.5rem 2rem;
  }
  .tabs .tabs__content {
    padding: 2rem 1rem;
  }
}
@-webkit-keyframes tabIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tabIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-hero {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-bar {
  width: 75%;
  background-color: #419bb5;
  border: 0.2rem solid #5bc0de;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: -2%;
  z-index: 2;
}
.quote-bar .quote-bar__title {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
  margin: 0;
  background-color: #5bc0de;
}
.quote-bar .quote-bar__text {
  margin: 0;
  color: white;
  flex: 1 0 0;
}

.hero-slider {
  width: 100%;
  position: relative;
}
.hero-slider .hero-slider__btns {
  position: absolute;
  bottom: 7.5rem;
  left: 7.5rem;
  z-index: 1;
  display: flex;
  gap: 1rem;
}
.hero-slider .hero-slider__btns > *:nth-child(2) {
  display: none;
}
.hero-slider .hero-slider__btns > * {
  width: 4.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid white;
  cursor: pointer;
  transition: all 0.2s ease;
}
.hero-slider .hero-slider__btns > *:hover {
  background-color: #116278;
}
.hero-slider .hero-slider__btns > * svg {
  width: 1.6rem;
  fill: white;
}

.hero-slider__card {
  display: flex;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
}
.hero-slider__card .hero-slider__card-img {
  width: 100%;
  aspect-ratio: 16/6;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-slider__card .hero-slider__card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22));
  padding: 7.5rem;
}
.hero-slider__card .hero-slider__card-content .hero-slider__card-meta,
.hero-slider__card .hero-slider__card-content .hero-slider__card-excerpt {
  margin: 0;
  font-size: 2.4rem;
  color: white;
}
.hero-slider__card .hero-slider__card-content .hero-slider__card-title {
  margin: 0;
  font-size: 8rem;
  font-weight: bold;
  color: white;
}
.hero-slider__card .hero-slider__card-content .hero-slider__card-btn {
  background-color: #5bc0de;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  color: white;
  transition: all 0.3s ease;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: bold;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .home-hero {
    width: 90%;
  }
  .quote-bar {
    width: 90%;
    margin-bottom: -5%;
    border-radius: 1rem;
  }
  .quote-bar .quote-bar__title {
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 25%;
  }
  .quote-bar .quote-bar__text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.2rem;
  }
  .hero-slider .hero-slider__btns {
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    justify-content: space-between;
  }
  .hero-slider .hero-slider__btns > *:nth-child(2) {
    display: block;
    aspect-ratio: auto;
  }
  .hero-slider .hero-slider__btns > *:nth-child(2) .swiper-pagination-bullet {
    background-color: #d9d9d9;
    opacity: 1;
  }
  .hero-slider .hero-slider__btns > *:nth-child(2) .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #5bc0de;
  }
  .hero-slider .hero-slider__btns > * {
    width: auto;
    border: 0;
  }
  .hero-slider .hero-slider__btns > *:hover {
    background-color: transparent;
  }
  .hero-slider__card {
    border-radius: 1rem;
  }
  .hero-slider__card .hero-slider__card-img {
    aspect-ratio: 25/16;
  }
  .hero-slider__card .hero-slider__card-content {
    padding: 1.5rem;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .hero-slider__card .hero-slider__card-content .hero-slider__card-meta,
.hero-slider__card .hero-slider__card-content .hero-slider__card-excerpt {
    font-size: 1.4rem;
  }
  .hero-slider__card .hero-slider__card-content .hero-slider__card-title {
    font-size: 3rem;
  }
  .hero-slider__card .hero-slider__card-content .hero-slider__card-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
}
.home-news {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-block: 4rem;
  gap: 2rem;
}

.home-news__slider {
  width: 100%;
}

.home-news__slider-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home-news__slider-btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  aspect-ratio: 1;
  border: 0.2rem solid #116278;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.home-news__slider-btns > * svg {
  width: 1rem;
  fill: #116278;
}
.home-news__slider-btns > *:hover {
  background-color: #116278;
}
.home-news__slider-btns > *:hover svg {
  fill: white;
}

.home-news__slider-btns.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .home-news {
    width: 90%;
  }
  .home-news__slider-btns {
    display: none;
  }
  .home-news__slider-btns.mobile {
    display: flex;
    justify-content: center;
  }
  .home-news__slider-btns.mobile .home-news__slider-dots {
    aspect-ratio: unset;
    border: 0;
    width: auto;
  }
  .home-news__slider-btns.mobile .home-news__slider-dots:hover {
    background-color: unset !important;
  }
  .home-news__slider-btns.mobile > * {
    width: 3rem;
  }
}
.home-posts {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;
}

.home-posts__slider {
  width: 100%;
}
.home-posts__slider .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}

.home-posts__slider-btns {
  display: none;
  align-items: center;
  gap: 1rem;
  align-self: center;
}
.home-posts__slider-btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  border: 0.2rem solid #116278;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.home-posts__slider-btns > * svg {
  width: 1rem;
  fill: #116278;
}
.home-posts__slider-btns > *:hover {
  background-color: #116278;
}
.home-posts__slider-btns > *:hover svg {
  fill: white;
}
.home-posts__slider-btns .home-posts__slider-dots {
  aspect-ratio: unset;
  border: 0;
  width: auto;
}
.home-posts__slider-btns .home-posts__slider-dots:hover {
  background-color: unset !important;
}

.post-card {
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
}
.post-card .post-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.25s;
}
.post-card:hover .post-card__img {
  scale: 1.1;
}
.post-card .post-card__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.056) 0%, rgba(0, 0, 0, 0.336) 58.08%, rgba(0, 0, 0, 0.56) 100%), rgba(108, 117, 125, 0.1882352941);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem;
}
.post-card .post-card__content .post-card__date {
  margin: 0;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #419bb5;
  color: white;
  align-self: flex-end;
}
.post-card .post-card__content .post-card__title {
  margin: 0;
  font-size: 2rem;
  color: white;
  align-self: flex-start;
}

.post-card:nth-child(1) {
  grid-area: 1/1/3/5;
  width: 100%;
}

.post-card:nth-child(2) {
  grid-area: 1/5/2/8;
  width: 100%;
}

.post-card:nth-child(3) {
  grid-area: 2/5/3/8;
  width: 100%;
}

.post-card:nth-child(4) {
  grid-area: 1/8/2/13;
  width: 100%;
  aspect-ratio: 2/1;
}

.post-card:nth-child(5) {
  grid-area: 2/8/3/11;
  width: 100%;
}

.post-card:nth-child(6) {
  grid-area: 2/11/3/13;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home-posts__slider .swiper-wrapper {
    display: flex;
    gap: 0;
  }
  .home-posts__slider-btns {
    display: flex;
  }
  .post-card {
    aspect-ratio: 6/8;
  }
}
.home-articles {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-articles__slider {
  width: 100%;
  padding: 1rem;
}

.home-articles__slider-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home-articles__slider-btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  aspect-ratio: 1;
  border: 0.2rem solid #116278;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.home-articles__slider-btns > * svg {
  width: 1rem;
  fill: #116278;
}
.home-articles__slider-btns > *:hover {
  background-color: #116278;
}
.home-articles__slider-btns > *:hover svg {
  fill: white;
}

.home-articles__slider-btns.mobile {
  display: none;
}

.article-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(14, 86, 124, 0.16);
  gap: 1.5rem;
}

.article-card__img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}

.article-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-card__titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-card__like {
  width: 3.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  background-color: #fbfbfb;
  border-radius: 50%;
  cursor: pointer;
}
.article-card__like svg {
  fill: #546179;
}

.article-card__title {
  margin: 0;
  font-size: 2.4rem;
}

.article-card__date {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.article-card__date svg {
  fill: rgba(0, 0, 0, 0.5);
  width: 1.4rem;
}

.article-card__excerpt {
  margin: 0;
  color: #2d3134;
  font-size: 1.4rem;
}

.article-card__btn {
  background-color: #419bb5;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  color: white;
  transition: all 0.3s ease;
  outline: 0;
  border: 0;
  cursor: pointer;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .home-articles {
    width: 90%;
  }
  .home-articles__slider {
    padding: 0.5rem;
  }
  .home-articles__slider-btns {
    display: none;
  }
  .home-articles__slider-btns.mobile {
    display: flex;
    justify-content: center;
  }
  .home-articles__slider-btns.mobile .home-articles__slider-dots {
    aspect-ratio: unset;
    border: 0;
    width: auto;
  }
  .home-articles__slider-btns.mobile .home-articles__slider-dots:hover {
    background-color: unset !important;
  }
  .home-articles__slider-btns.mobile > * {
    width: 3rem;
  }
}
.home-speech {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-speech__wrapper {
  width: 100%;
  display: flex;
  gap: 7rem;
}
.home-speech__wrapper > * {
  flex: 1 0 0;
}
.home-speech__wrapper .home-speech__songs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home-speech__wrapper .home-speech__songs-btn {
  background-color: #f1fafd;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  color: black;
  transition: all 0.3s ease;
  outline: 0;
  border: 0;
  cursor: pointer;
  align-self: center;
  border: 1px solid #116278;
}

.playlist {
  display: flex;
  background-image: url(../img/sea.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3rem;
  overflow: hidden;
  height: 100%;
}

.playlist__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4.5rem;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px) brightness(0.5);
  -webkit-backdrop-filter: blur(2px) brightness(0.5);
}

.playlist-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  border: 2px solid #bcf0ec;
  padding: 2rem 1.5rem;
}
.playlist-card .playlist-card__icon {
  width: 2rem;
}
.playlist-card .playlist-card__title {
  margin: 0;
  color: white;
}
.playlist-card .playlist-card__number {
  margin: 0;
  color: white;
  border: 1px solid #bcf0ec;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  background-color: #116278;
}

@media screen and (max-width: 768px) {
  .playlist__cards {
    padding: 2rem;
  }
}
.player {
  background: rgba(206, 237, 246, 0.3);
  -webkit-backdrop-filter: blur(7.23px);
          backdrop-filter: blur(7.23px);
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.player .player__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 2rem 4rem;
}
.player .player__img {
  width: 18%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
.player .player__title {
  margin: 0;
  width: calc(82% - 1rem);
  align-self: center;
  font-size: 2rem;
}
.player .player__part {
  font-size: 1.2rem;
  margin: 0;
  color: black;
}
.player .player__part span {
  color: rgba(0, 0, 0, 0.5);
}
.player .player__number {
  font-size: 1.2rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}
.player .player__text {
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
}
.player .player__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #116278;
  position: relative;
  padding: 3rem 1.5rem 1.5rem;
}
.player #player__progress {
  width: 80%;
  border-radius: 1rem;
  background-color: #419bb5;
  position: absolute;
  display: flex;
  align-items: center;
  top: -2rem;
  overflow: hidden;
}
.player #player__progress .amplitude-wave-form {
  height: 100%;
  display: flex;
  align-items: center;
}
.player #player__progress .amplitude-wave-form svg {
  stroke: #8fe1ec;
  height: 4rem;
  width: 100%;
  stroke-width: 0.5px;
}
.player #player__progress .amplitude-song-slider {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 100;
}
.player #player__progress #song-played-progress {
  position: absolute;
  width: 100%;
  z-index: 60;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  background: transparent;
  border: none;
}
.player #player__progress #song-played-progress::-webkit-progress-bar {
  background: none;
  border-radius: 5px;
}
.player #player__progress #song-played-progress::-webkit-progress-value {
  background-color: #8fe1ec;
  border-radius: 5px;
}
.player #player__progress #song-buffered-progress {
  position: absolute;
  width: 100%;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  background: transparent;
  border: none;
  background-color: #d7dee3;
}
.player #player__progress #song-buffered-progress::-webkit-progress-bar {
  background-color: #cfd8dc;
  border-radius: 5px;
}
.player #player__progress #song-buffered-progress::-webkit-progress-value {
  background-color: #78909c;
  border-radius: 5px;
  -webkit-transition: width 0.1s ease;
  transition: width 0.1s ease;
}
.player .player__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player .player__download,
.player .player__save {
  display: flex;
}
.player .player__duration {
  color: #bdbdbd;
  font-size: 1.2rem;
  width: 4rem;
}
.player .player__current-time {
  color: #bcf0ec;
  font-size: 1.2rem;
  width: 4rem;
}
.player .amplitude-play-pause {
  width: 5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.player .amplitude-next {
  background: url(../ico/next.svg);
  background-size: cover;
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.player .amplitude-prev {
  background: url(../ico/prev.svg);
  background-size: cover;
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.player .amplitude-play-pause.amplitude-paused {
  background: url(../ico/play.png);
  background-size: cover;
}
.player .amplitude-play-pause.amplitude-playing {
  background: url(../ico/pause.png);
  background-size: cover;
}

.songs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.song-card {
  width: 100%;
  display: flex;
  gap: 1rem;
  background-color: #f1fafd;
  border-radius: 3rem;
  padding: 1rem;
  cursor: pointer;
  align-items: center;
  transition: 0.3s;
}
.song-card:hover {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2509803922);
}
.song-card .song-card__img {
  width: 19%;
  border-radius: 2rem;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.song-card .song-card__content {
  flex: 1 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.song-card .song-card__content > * {
  margin: 0;
}
.song-card .song-card__content .song-card__title {
  width: 100%;
}
.song-card .song-card__content .song-card__part,
.song-card .song-card__content .song-card__number {
  font-size: 1.2rem;
}
.song-card .song-card__content .song-card__part {
  color: rgb(0, 0, 0);
}
.song-card .song-card__content .song-card__part span {
  color: rgba(0, 0, 0, 0.5);
}
.song-card .song-card__content .song-card__number {
  color: rgba(0, 0, 0, 0.5);
}
.song-card .song-card__content .song-card__download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.song-card .song-card__content .song-card__save {
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-card.amplitude-playing {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2509803922);
}

@media screen and (max-width: 768px) {
  .home-speech__wrapper {
    flex-direction: column;
    gap: 5rem;
  }
}
.home-video {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-video__section {
  display: grid;
  grid-template-columns: 68.8% 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}

.home-video__holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-video__holder:nth-child(1) {
  grid-area: 1/1/3/2;
}

.home-video__holder:nth-child(2) {
  grid-area: 1/2/2/3;
}

.home-video__holder:nth-child(3) {
  grid-area: 2/2/3/3;
}

.home-video__holder-title {
  font-size: 2.6rem;
  margin: 0;
  color: #116278;
  font-weight: 400;
}

.plyr {
  border-radius: 1.5rem;
}

.home-video__btn {
  background-color: #f1fafd;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  color: black;
  transition: all 0.3s ease;
  outline: 0;
  border: 0;
  cursor: pointer;
  align-self: center;
  border: 1px solid #116278;
}

@media screen and (max-width: 768px) {
  .home-video {
    width: 90%;
  }
  .home-video__section {
    grid-template-columns: repeat(1, 1fr);
  }
  .home-video__holder:nth-child(1) {
    grid-area: auto;
  }
  .home-video__holder:nth-child(2) {
    grid-area: auto;
  }
  .home-video__holder:nth-child(3) {
    grid-area: auto;
  }
}
.home-qa {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-qa__slider {
  width: 100%;
  padding: 1rem;
}

.qa-box {
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
  background-color: white;
  border: 1px solid #dce5eb;
  box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.16);
}

.qa-box__title {
  margin: 0;
  color: #116278;
  font-size: 2.4rem;
  font-weight: bold;
}

.qa-box__meta {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  direction: ltr;
}

@media screen and (max-width: 768px) {
  .home-qa {
    width: 90%;
  }
}
.home-album {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;
}

.home-album__slider {
  width: 100%;
}
.home-album__slider .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}

.home-album__slider-btns {
  display: none;
  align-items: center;
  gap: 1rem;
  align-self: center;
}
.home-album__slider-btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  border: 0.2rem solid #116278;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.home-album__slider-btns > * svg {
  width: 1rem;
  fill: #116278;
}
.home-album__slider-btns > *:hover {
  background-color: #116278;
}
.home-album__slider-btns > *:hover svg {
  fill: white;
}
.home-album__slider-btns .home-album__slider-dots {
  aspect-ratio: unset;
  border: 0;
  width: auto;
}
.home-album__slider-btns .home-album__slider-dots:hover {
  background-color: unset !important;
}

.photo-card {
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
}
.photo-card .photo-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.25s;
}
.photo-card:hover .photo-card__img {
  scale: 1.1;
}
.photo-card .photo-card__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.056) 0%, rgba(0, 0, 0, 0.336) 58.08%, rgba(0, 0, 0, 0.56) 100%), rgba(108, 117, 125, 0.1882352941);
  display: flex;
  align-items: flex-end;
  padding: 4rem 3rem;
}
.photo-card .photo-card__content .photo-card__title {
  margin: 0;
  font-size: 2.4rem;
  color: white;
}

.photo-card:nth-child(1) {
  grid-area: 1/1/2/6;
  aspect-ratio: 2/1;
  width: 100%;
}

.photo-card:nth-child(2) {
  grid-area: 2/1/3/4;
  width: 100%;
}

.photo-card:nth-child(3) {
  grid-area: 2/4/3/6;
  width: 100%;
}

.photo-card:nth-child(4) {
  grid-area: 1/6/3/10;
  width: 100%;
}

.photo-card:nth-child(5) {
  grid-area: 1/10/2/13;
  width: 100%;
}

.photo-card:nth-child(6) {
  grid-area: 2/10/3/13;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home-album__slider .swiper-wrapper {
    display: flex;
    gap: 0;
  }
  .home-album__slider-btns {
    display: flex;
  }
  .photo-card {
    aspect-ratio: 6/8;
  }
}
.home-books {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.home-books__slider {
  width: 100%;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.book-card__img {
  box-shadow: 15px 16px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.book-card__title {
  margin: 0;
  font-size: 2.4rem;
  color: #116278;
  transition: opacity 0.2s ease;
  opacity: 0;
  font-weight: 700;
  text-align: center;
}

.swiper-slide-active .book-card__title {
  opacity: 1;
}

.home-books__slider-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: center;
}
.home-books__slider-btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  aspect-ratio: 1;
  border: 0.2rem solid #116278;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.home-books__slider-btns > * svg {
  width: 1rem;
  fill: #116278;
}
.home-books__slider-btns > *:hover {
  background-color: #116278;
}
.home-books__slider-btns > *:hover svg {
  fill: white;
}

@media screen and (max-width: 768px) {
  .home-books {
    width: 90%;
  }
}
.home-contact {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-contact__section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.home-contact__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex: 1 0 0;
  max-width: 64rem;
}
.home-contact__col:nth-child(2) {
  border-radius: 2rem;
  box-shadow: 3px 4px 23px 1px rgba(193, 197, 210, 0.15658);
  padding: 3.5rem;
}

.home-contact__social {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home-contact__social-icon {
  display: flex;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.form .form__row {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.form .form__col {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.form .form__input,
.form .form__text {
  border: 1.5px solid #e8e9ed;
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  outline: 0;
  transition: all 0.3s ease;
}
.form .form__input::-moz-placeholder, .form .form__text::-moz-placeholder {
  color: #c6c8d3;
}
.form .form__input:-ms-input-placeholder, .form .form__text:-ms-input-placeholder {
  color: #c6c8d3;
}
.form .form__input::placeholder,
.form .form__text::placeholder {
  color: #c6c8d3;
}
.form .form__input:hover, .form .form__input:focus,
.form .form__text:hover,
.form .form__text:focus {
  border-color: #ceedf6;
}
.form .form__btn {
  background-color: #419bb5;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  color: white;
  transition: all 0.3s ease;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .home-contact {
    width: 90%;
  }
  .home-contact__section {
    flex-direction: column-reverse;
  }
  .home-contact__col:nth-child(2) {
    padding: 1rem;
  }
}
.post {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  background-color: #f1fafd;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}
.post__header .post__img {
  width: 100%;
  aspect-ratio: 16/6.5;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.post__header .post__header-contnet {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 6rem 3rem;
  gap: 2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), rgba(108, 117, 125, 0.2);
}
.post__header .post__meta {
  margin: 0;
  color: white;
  font-size: 2.4rem;
}
.post__header .post__title {
  margin: 0;
  color: white;
  font-size: 8rem;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.post__content .title-round {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
  position: relative;
}
.post__content .post__text {
  padding: 0 5rem 5rem;
}

.meta-box {
  background-color: #004970;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  position: absolute;
  left: 1rem;
  gap: 1.5rem;
}
.meta-box .meta-box__date {
  margin: 0;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}
.meta-box .meta-box__divider {
  width: 2px;
  background-color: #c4e9f5;
  align-self: stretch;
}
.meta-box .meta-box__social {
  display: flex;
}

@media screen and (max-width: 768px) {
  .post {
    width: 90%;
  }
  .post__header .post__img {
    aspect-ratio: 4/3;
  }
  .post__header .post__header-contnet {
    padding: 2rem;
  }
  .post__header .post__meta {
    font-size: 2;
  }
  .post__header .post__title {
    font-size: 5rem;
  }
  .post__content .post__text {
    padding: 0 1.5rem 1.5rem;
  }
  .meta-box {
    position: static;
    width: 100%;
    -webkit-margin-end: 2rem;
            margin-inline-end: 2rem;
    gap: 1rem;
  }
  .meta-box .meta-box__date {
    font-size: 1.2rem;
  }
}
.similar-posts {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.similar-posts .similar-posts__slider {
  width: 100%;
}

.about-hero {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.about-hero .about-hero__logo {
  max-width: 25rem;
  width: 50%;
}

.about-contnet {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  align-items: center;
  gap: 2rem;
}
.about-contnet .about-contnet__text {
  margin: 0;
  font-weight: 700;
  font-size: 1.7rem;
}
.about-contnet .about-contnet__social {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about-contnet .about-contnet__social a {
  display: flex;
  transition: all 0.25s;
}
.about-contnet .about-contnet__social a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .about-hero {
    width: 90%;
  }
  .about-contnet {
    padding-inline: 2rem;
  }
}
.images-wrapper {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: transform 0.25s ease;
}
.gallery-card .gallery-card__header {
  display: flex;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
  width: 100%;
  transition: box-shadow 0.25s ease;
}
.gallery-card .gallery-card__img {
  width: 100%;
  aspect-ratio: 4/2.8;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-card .gallery-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.056) 0%, rgba(0, 0, 0, 0.336) 58.08%, rgba(0, 0, 0, 0.56) 100%);
}
.gallery-card .gallery-card__title {
  margin: 0;
  color: #004970;
  font-size: 2.4rem;
  font-weight: 900;
  transition: all 0.25s ease;
}
.gallery-card:hover {
  transform: scale(1.04);
}
.gallery-card:hover .gallery-card__header {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2509803922);
}
.gallery-card:hover .gallery-card__title {
  transform: translateY(-220%);
  color: white;
}

@media screen and (max-width: 768px) {
  .images-wrapper {
    grid-template-columns: 1fr;
  }
}
.books-wrapper {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 11rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin-top: 8rem;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004970;
  padding: 0rem 2rem 1rem;
  border-radius: 1rem;
  gap: 1rem;
}
.book .book__img-link {
  display: flex;
  margin-top: -2rem;
  transition: margin 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 15px 16px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.book .book__img-link .book__img {
  border-radius: 1rem;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
}
.book .book__contet {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.book .book__contet .book__holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: -8rem;
  transition: margin 0.25s ease;
}
.book .book__contet .book__holder .book__title {
  color: #ceedf6;
  font-size: 2.4rem;
  font-weight: bold;
}
.book .book__contet .book__holder .book__date,
.book .book__contet .book__holder .book__author {
  margin: 0;
  color: white;
  font-size: 1.4rem;
}
.book:hover .book__img-link {
  margin-top: -10rem;
  box-shadow: 15px 16px 50px 0px rgba(0, 0, 0, 0.3019607843);
}
.book:hover .book__holder {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .books-wrapper {
    grid-template-columns: 1fr;
  }
}
.videos-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
}

.video-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.video-card .video-card__title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #116278;
}
.video-card .video-card__link {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}
.video-card .video-card__link .video-card__img {
  width: 100%;
  aspect-ratio: 16/9;
}
.video-card .video-card__link .video-card__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4392156863);
}
.video-card .video-card__link .video-card__content .video-card__icon {
  display: flex;
  width: 5rem;
  aspect-ratio: 1;
  padding: 1.5rem;
  background-color: white;
  border-radius: 50%;
}
.video-card .video-card__link .video-card__content .video-card__icon svg {
  fill: #419bb5;
}

@media screen and (max-width: 768px) {
  .videos-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.video-section {
  display: flex;
  gap: 2rem;
}
.video-section .video-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.video-section .video-sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .video-section {
    flex-direction: column;
  }
  .video-section .video-content {
    width: 100%;
  }
  .video-section .video-content .meta-box {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
  .video-section .video-sidebar {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */