@font-face {
  font-family: "Bloomberg Arabic";
  src: url("../fonts/BloombergArabicBetav4-Regular.woff2") format("woff2"), url("../fonts/BloombergArabicBetav4-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bloomberg Arabic";
  src: url("../fonts/BloombergArabicBetav4-Bold.woff2") format("woff2"), url("../fonts/BloombergArabicBetav4-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --plyr-color-main: #419bb5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Bloomberg Arabic";
  font-size: 1.6rem;
  color: #2d3134;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-round {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.title-round .title-round__text {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #116278;
}
.title-round .title-round__sec {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  opacity: 0.3;
}
.title-round .title-round__sec .title-round__circle {
  display: flex;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.25rem solid #5bc0de;
}
.title-round .title-round__sec .title-round__line {
  flex: 1 0 0;
  height: 0.25rem;
  background-color: #5bc0de;
}

@media screen and (max-width: 768px) {
  .title-round .title-round__text {
    font-size: 2.5rem;
  }
}
.news-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: rgba(206, 237, 246, 0.3);
  border-radius: 1.5rem;
}

.news-card__img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 1.5rem;
}

.news-card__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.news-card__content .news-card__title {
  font-size: 2.4rem;
  color: #2d3134;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card__content .news-card__excerpt {
  margin: 0;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.news-card__meta .news-card__date {
  margin: 0;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.news-card__meta .news-card__date svg {
  width: 1.4rem;
  fill: rgba(0, 0, 0, 0.5);
}
.news-card__meta .news-card__btn {
  background-color: none;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  color: #419bb5;
  transition: all 0.3s ease;
  outline: 0;
  border: 0;
  cursor: pointer;
  border: 1px solid #419bb5;
  font-size: 1.4rem;
}
.news-card__meta .news-card__btn:hover {
  background-color: #419bb5;
  color: white;
}

#main-content {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 85%;
  max-width: 140rem;
  background-color: #004970;
  padding: 1.5rem 4.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  row-gap: 1rem;
  position: relative;
}

.navbar__toggle {
  display: none;
}

.navbar__logo-link {
  display: flex;
  width: 6rem;
}

.navbar__logotext-link {
  display: flex;
  width: 20rem;
}

.navbar__menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-inline: auto;
}
.navbar__menu li a {
  color: white;
  transition: all 0.2s ease;
  font-weight: bold;
  font-size: 1.4rem;
}
.navbar__menu li a:hover {
  color: #5bc0de;
  font-size: 1.8rem;
}

.navbar__search {
  position: absolute;
  left: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-end;
  width: 4rem;
  transition: width 0.2s;
}

.search-open .navbar__search {
  width: 15%;
}

.navbar__search-btn {
  display: flex;
  width: 4rem;
  padding: 1rem;
  margin-inline-start: auto;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  margin: -2px;
}
.navbar__search-btn svg {
  fill: #5bc0de;
  width: 1.6rem;
}

.navbar__search-input {
  display: none;
  width: 0;
  transition: width 0.2s;
  color: white;
  background: none;
  outline: none;
  border: 0;
  padding: 0.5rem 1rem;
}

.search-open .navbar__search-input {
  display: block;
  flex: 1 0 0;
  width: calc(100% - 4rem);
}

.navbar__search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  #header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navbar {
    width: 90%;
    padding: 1rem;
    min-height: 7.05rem;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .navbar__toggle {
    order: 3;
    transition: opacity 0.1s linear;
    animation: fade 0.1s;
  }
  .search-open .navbar__toggle {
    opacity: 0;
  }
  .navbar__toggle,
.navbar__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 1rem;
    margin: -1px;
  }
  .navbar__search {
    order: 1;
    margin: 0;
    background-color: #004970;
    border: 1px solid white;
    border-radius: 1rem;
    width: 4.8rem;
    position: static;
    left: 1rem;
  }
  .navbar__search .navbar__search-btn svg {
    fill: white;
    width: 2.6rem;
  }
  .search-open .navbar__search {
    position: absolute;
    width: calc(100% - 2rem);
  }
  .search-open .navbar__search-input {
    display: block;
    flex: 1 0 0;
    width: calc(100% - 4.8rem);
  }
  .navbar__logo-link {
    display: none;
  }
  .navbar__logotext-link {
    width: 50%;
    order: 2;
    transition: opacity 0.1s linear;
    animation: fade 0.1s;
  }
  .search-open .navbar__logotext-link {
    opacity: 0;
  }
  .navbar__menu {
    width: 100%;
    flex-direction: column;
    order: 4;
    gap: 1rem;
    max-height: 0;
    opacity: 0;
    display: none;
    overflow: hidden;
    transition: all 0.4s ease;
    animation: fadeIn 0.4s;
  }
  .navbar__menu li {
    width: 100%;
    display: flex;
  }
  .navbar__menu li a {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
  }
  .navbar__menu li a:hover {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
  }
  .navbar__menu.open {
    display: flex;
    opacity: 1;
    max-height: 100vh;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 100vh;
  }
}
.footer-wrapper:before, .footer-wrapper:after {
  content: "";
  width: 1.5rem;
  aspect-ratio: 1;
  border: 2.5px solid #ceedf6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -8.5px;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0 3rem;
}

.footer-wrapper {
  width: 85%;
  max-width: 140rem;
  border-top: 0.25rem solid #ceedf6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer-wrapper:after {
  left: -15px;
}
.footer-wrapper:before {
  right: -15px;
}

.footer__logo-link {
  width: 5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #419bb5;
  margin-top: -2.5rem;
}

.footer__copyright {
  margin: 0;
  font-size: 1.8rem;
  color: #116278;
  text-align: center;
}

.fixed-social {
  position: fixed;
  left: 3.75%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.75rem;
  border: 2px solid #419bb5;
  border-radius: 1rem;
  gap: 1.5rem;
}
.fixed-social .fixed-social__icon {
  display: flex;
}
.fixed-social .fixed-social__icon svg {
  transition: transform 0.2s;
  width: 3rem;
  height: 3rem;
}

.fixed-social__icon:hover svg {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .fixed-social {
    display: none;
  }
}
.content-box {
  width: 85%;
  max-width: 140rem;
  align-self: center;
  background-color: #f1fafd;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.title-bar {
  width: 60%;
  border-top: 4px solid rgba(91, 192, 222, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
}
.title-bar::before, .title-bar::after {
  content: "";
  width: 1.5rem;
  aspect-ratio: 1;
  border: 2.5px solid #004970;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -9.5px;
}
.title-bar::before {
  left: -1.5rem;
}
.title-bar::after {
  right: -1.5rem;
}
.title-bar .title-bar__text {
  font-size: 2.5rem;
  margin: 0;
  color: #bcf0ec;
  background-color: #004970;
  line-height: 1;
  padding: 1rem 2.5rem 1.5rem;
  border-radius: 2rem;
  margin-top: -2.75rem;
}

.content-box__pagination {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.content-box__pagination .content-box__prev,
.content-box__pagination .content-box__next {
  display: flex;
  width: 4rem;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #419bb5;
  border-radius: 50%;
  transition: all 0.25s ease;
}
.content-box__pagination .content-box__prev svg,
.content-box__pagination .content-box__next svg {
  width: 1rem;
  fill: #419bb5;
  transition: all 0.25s ease;
}
.content-box__pagination .content-box__prev:hover,
.content-box__pagination .content-box__next:hover {
  background-color: #419bb5;
}
.content-box__pagination .content-box__prev:hover svg,
.content-box__pagination .content-box__next:hover svg {
  fill: white;
}
.content-box__pagination .content-box__page {
  margin: 0;
  font-size: 2rem;
  color: #419bb5;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .content-box {
    width: 90%;
  }
  .title-bar {
    width: 70%;
  }
  .title-bar .title-bar__text {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=videos.css.map */
